@using NeighborhoodServiceFinder.Data
@model List<ApplicationUser>

@{
    ViewData["Title"] = "User Management";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.FirstName
                </td>
                <td>
                    @user.LastName
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post"
                        onsubmit="return confirm('Are you sure you want to permanently delete this user?');">
                        <button type="submit" class="btn btn-link text-danger p-0">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>